<form>
    <div class="form-row">
        <h4>Animations:</h4>
    </div>
    <div class="form-row">
        <div class="input-group mb-3">
            <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Add Animation</button>
        </div>
    </div>
    <div class="form-row">
        <div class="input-group mb-1 col-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Label:</span>
            </div>
            <input type="text" class="form-control"/>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon3">No Frames Set</span>
            </div>
            <label class="btn btn-primary rounded-right-only my-0">Set Frames
                <input type="file" id="fopen-static" class="d-none"/>
            </label>
        </div>         
        <div class="input group col-2">
            <button type="button" class="btn btn-success mx-4"><i class="fas fa-minus"></i> Remove</button>
        </div>
    </div>      
</form>