<form class="mb-4">
    <div class="form-row">
        <h4>Animations:</h4>
    </div>
    <div class="form-row">
        <div class="input-group mb-3">
            <button type="button" class="btn btn-success" data-ng-click="$ctrl.addAnimation()"><i class="fas fa-plus"></i> Add Animation</button>
        </div>
    </div>
    <div class="form-row justify-content-between mb-2" data-ng-repeat="animation in $ctrl.animations">
        <div class="input-group col-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Label:</span>
            </div>
            <input type="text" class="form-control" data-ng-model="animation.label"/>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon3">{{animation.nFrames > 0 ? (animation.nFrames + ' frames') : 'No frames set'}}</span>
            </div>
            <label class="btn btn-primary rounded-right-only my-0" data-ng-click="$ctrl.setActiveAnimation(animation)">Set Frames
                <input type="file" multiple class="d-none" data-load-file="$ctrl.onModelSelect"/>
            </label>
        </div>         
        <div class="input-group col-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">FPS:</span>
            </div>
            <input type="number" class="form-control" data-ng-model="animation.speed"/>
        </div>
        <div class="input group col-2 text-right">
            <button type="button" class="btn btn-danger"><i class="far fa-times-circle"></i></button>
        </div>
    </div>      
    <div class="form-row">
        <button class="btn btn-outline-primary col-12" data-ng-click="$ctrl.applyAnimation()">Apply Animation Settings</button>
    </div>
</form>