<nav class="navbar navbar-expand-lg navbar-light bg-light flex-0">
    <span class="navbar-brand">Mesh Import Utility</span>
    <div class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-secondary mx-1">New</button>
        <button type="button" class="btn btn-info mx-1">Open</button>
    </div>
    <div class="form-inline my-2 my-lg-0 ml-2">
        <input class="form-control mr-sm-2" data-ng-model="$ctrl.fileName" id="input-filename">
        <button class="btn btn-primary my-2 my-sm-0" type="button" data-ng-click="$ctrl.save()">Save</button>
    </div>
</nav>