<div class="py-2">
    <div class="form-group row">
        <label for="kf-add" class="col-sm-2 col-form-label">Keyframes:</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
    </div>
    <!-- <div class="col-6">
        <label for="kf-list">Keyframes:</label>
        <select size="20" class="form-control" id="kf-list">
        <option data-ng-repeat="keyframe in $ctrl.keyframes"/>{{keyframe}}</option>
        </select>
    </div>
    <div class="col-2 px-0">
        <div class="btn-group-vertical">
            <label for="kf-add" class="btn btn-outline-success btn-lg my-0"><i class="fas fa-plus-circle"></i></label>
            <button type="button" class="btn btn-outline-info btn-lg"><i class="fas fa-caret-square-up"></i></button>
            <button type="button" class="btn btn-outline-info btn-lg"><i class="fas fa-caret-square-down"></i></button>
            <button type="button" class="btn btn-outline-danger btn-lg"><i class="fas fa-minus-square"></i></button>
        </div>
        <input type="file" id="kf-add" class="d-none"/>
    </div> -->
</div>  